Source: pay-service
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               cmake-extras,
               dbus,
               dbus-test-runner,
               debhelper (>= 9),
               gccgo [ppc64el],
               gcovr,
               golang-go (>= 2:1.6) [ppc64el] | golang-go [!ppc64el],
               golang-go.tools [amd64 armhf i386],
               google-mock,
               intltool,
               lcov,
               libdbus-1-dev,
               libdbus-cpp-dev,
               libdbustest1-dev,
               libglib2.0-dev,
               libgtest-dev,
               libmirclient-dev (>= 0.5),
               libprocess-cpp-dev (>= 2.0.0),
               libproperties-cpp-dev,
               libtrust-store-dev,
               libubuntu-app-launch2-dev (>= 0.5),
               libubuntuoneauth-2.0-dev,
               pkg-config,
               python3-dbusmock,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               sysvinit-utils,
               xvfb,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/pay-service
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead.  ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: lp:pay-service

Package: pay-service
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
         pay-ui (= ${binary:Version}),
         sysvinit-utils,
         ubuntu-push-client (>= 0.68+15.04.20151009),
Recommends: gnupg,
            libglib2.0-bin,
Description: service to allow requesting payment for an item
 Allows applications to request an item be paid for by the user.
 This requires interaction with the server backend to handle the
 payment provider and give that money to the developer. This service
 coordinates the payment interaction with the server on the device.
 .
 This package provides a service for the Pay Service.

Package: pay-ui
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 qtdeclarative5-ubuntu-web-plugin [amd64 armhf i386],
 qtdeclarative5-online-accounts-client0.1,
 qtdeclarative5-ubuntu-ui-toolkit-plugin,
Description: service to allow requesting payment for an item - user interface
 Allows applications to request an item be paid for by the user.
 This requires interaction with the server backend to handle the
 payment provider and give that money to the developer. This service
 coordinates the payment interaction with the server on the device.
 .
 This package provides the user interface for the Pay Service.

Package: libpay2
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         pay-service (= ${source:Version}),
Multi-Arch: same
Description: Library for interacting with the in app payments
 This library contains information to purchase items and figure out
 their purchase status.

Package: libpay2-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libglib2.0-dev,
         libpay2 (=${binary:Version})
Multi-Arch: same
Description: Pay service - library development files
 This library contains information to purchase items and figure out
 their purchase status.

Package: pay-test-app
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Small application to help test payment
 Not a useful application for users but gives additional
 information about what's happening in the pay-service
